<section>
   <div class="container mt-4">
      <div class="row">
         <div class="col-md-6">
            <h2 class="text-center">Edit Product</h2>
            <form action="/admin/edit-product/{{product._id}}" method="POST" enctype="multipart/form-data" id="edit-product">
              <div class="form-group">
               <label for="name">Name</label>
               <input type="text" name="name" value="{{product.name}}" class="form-control">
              </div>
              <div class="form-group">
               <label for="category">Category</label>
               <select class="custom-select mr-sm-2" name="category" id="inlineFormCustomSelect">
                  <option value="">Choose...</option>
                  {{#each categories}}
                  {{#if this.selected}}
                  <option selected value="{{this._id}}">{{this.name}}</option>
                  {{else}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/if}}
                  {{/each}}
               </select>
              </div>
              <div class="form-group">
               <label for="variant">Variant</label>
               <input type="text" name="variant" value="{{product.variant}}" class="form-control">
              </div>
              <div class="form-group">
               <label for="price">Price</label>
               <input type="number" name="price" value="{{product.price}}" class="form-control">
              </div>
              <div class="form-group">
               <label for="description">Description</label>
               <input type="text" name="description" value="{{product.description}}" class="form-control">
              </div>
              <div class="form-group">
               <label for="image">Image</label>
               <img src="/product-images/{{product._id}}.jpg" alt="{{product.name}}" style="width:100px;height:100px;" id="imgView" class="pb-1">
               <input type="file" name="image" class="form-control" onchange="viewImage(event)">
              </div>
               <button type="submit" class="btn btn-success">Submit</button>
            </form>
         </div>
      </div>
   </div>
</section>



<script>
   function viewImage(event)
   {
      document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
   }
</script>