<section>
   <div class="container">
      <table class="table mt-5" id="orderTable">
      <thead>
      <tr>
      <th scope="col">No</th>
      <th scope="col">Date</th>
      <th scope="col">Name</th>
      <th scope="col">Mobile</th>
      <th scope="col">Address</th>
      <th scope="col">Pincode</th>
      <th scope="col">Amount</th>
      <th scope="col">Payment</th>
      <th scope="col">Status</th>
      <th scope=col">Options</th>
      </tr>
      </thead>
      <tbody>
      {{#each orders}}
      <tr>
      <th scope="row" id="slno">{{@index}}</th>
      <td>{{this.date}}</td>
      <td>{{this.deliveryDetails.name}}</td>
      <td>{{this.deliveryDetails.mobile}}</td>
      <td>{{this.deliveryDetails.address}}</td>
      <td>{{this.deliveryDetails.pincode}}</td>
      <td>{{this.totalAmount}}</td>
      <td>{{this.paymentMethod}}</td>
      <td>{{this.status}}</td>
      <td>
         <a href="/admin/view-user/{{this._id}}" class="btn btn-primary">Edit</a>
         <a href="/admin/view-order/{{this._id}}" class="btn btn-danger" onclick="return confirm('Are you want to delete {{this.name}} ?')">Delete</a>
      </td>
      </tr>
      {{/each}}
      </tbody>
      </table>
   </div>
</section>






<script>
   $(document).ready( function () {
   $('#orderTable').DataTable();
   } );
</script