<section>
   <div class="container mt-4">
      <div class="row">
         <div class="col-md-12">
            <h2 class="text-center">View Order</h2>
            <form action="">
              <div class="form-group">
               <label for="name">Name</label>
               <input type="text" name="name" value="{{order.deliveryDetails.name}}" class="form-control" style="background:white;" disabled>
              </div>
              <div class="form-group">
               <label for="mobile">Mobile</label>
               <a href="tel:{{order.deliveryDetails.mobile}}" style="text-decoration:none;"><input type="text" name="mobile" value="{{order.deliveryDetails.mobile}}" class="form-control" style="background:white;" disabled></a>
              </div>
              <div class="form-group">
               <label for="address">Address</label>
               <textarea rows="3" type="text" name="address" class="form-control" style="background:white;" disabled>{{order.deliveryDetails.address}}</textarea>
              </div>
              <div class="form-group">
               <label for="pincode">Pincode</label>
               <input type="number" name="pincode" value="{{order.deliveryDetails.pincode}}" class="form-control" style="background:white;" disabled>
              </div>
              <div class="form-group">
               <label for="products">Products</label>
               {{#each products}}
               <div class="form-row mb-2">
                  <div class="col-9">
                     <a href="/view-product/{{this.product._id}}" style="text-decoration:none;"><input type="text" name="{{this.product.name}}" value="{{this.product.name}}" class="form-control" style="background:white;" disabled></a>
                  </div>
                  <div class="col">
                     <a href="/view-product/{{this.product._id}}" style="text-decoration:none;"><input type="text" name="{{this.product.name}}" value="{{this.quantity}}" class="form-control" style="background:white;" disabled></a>
                  </div>
               </div>
               {{/each}}
              </div>
              <div class="form-group">
               <label for="totalAmount">Total Amount</label>
               <input type="text" name="totalAmount" value="₹{{order.totalAmount}}" class="form-control" style="background:white;" disabled>
              </div>
              <div class="form-group">
               <label for="paymentMethod">Payment Method</label>
               <input type="text" name="paymentMethod" value="{{order.paymentMethod}}" class="form-control" style="background:white;" disabled>
              </div>
              <div class="form-group">
               <label for="status">Status</label>
               <input type="text" name="status" value="{{order.currentStatus}}" class="form-control" style="background:white;" disabled>
              </div>
            </form>
            {{#unless order.Cancelled}}
            {{#if order.Pending}}
            <button class="btn btn-primary" style="width:5em;" onclick="updateOrderStatus('{{order._id}}', 'Placed')">Place</button>
            {{else if order.Placed}}
            <button class="btn btn-primary" style="width:5em;" onclick="updateOrderStatus('{{order._id}}', 'Confirmed')">Confirm</button>
            {{else if order.Confirmed}}
            <button class="btn btn-primary" style="width:5em;" onclick="updateOrderStatus('{{order._id}}', 'Shipped')">Ship</button>
            {{else if order.Shipped}}
            <button class="btn btn-primary" style="width:5em;" onclick="updateOrderStatus('{{order._id}}', 'Out for Delivery')">OFD</button>
            {{else if order.OutforDelivery}}
            <button class="btn btn-success" style="width:5em;" onclick="updateOrderStatus('{{order._id}}', 'Delivered')">Deliver</button>
            {{/if}}
            {{/unless}}
            {{#unless order.Cancelled}}
            {{#unless order.Delivered}}
            <button class="btn btn-danger ml-2" style="width:5em;" onclick="updateOrderStatus('{{order._id}}', 'Cancelled')">Cancel</button>
            {{/unless}}
            {{/unless}}
         </div>
      </div>
   </div>
</section>

<section>
   <div class="container mt-3">
      <div class="row">
         <div class="col-md-12 text-muted">
            <small>
            {{#each order.status}}
            <label>{{this.name}}: {{this.date}}</label>
            {{/each}}
            </small>
         </div>
      </div>
   </div>
</section>




<script>
   function updateOrderStatus(orderId, status)
   {
      $.ajax({
         url:'/admin/update-order-status',
         method:'post',
         data:{
            orderId, status
         },
         success:((response) => {
            location.reload()
         })
      })
   }
</script>