<section>
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div id="carouselIndicators" class="carousel slide" data-ride="carousel" style="padding-left:0;">
               <ol class="carousel-indicators" style="bottom:0;">
                  {{#each banners}}
                  <li data-target="#carouselIndicators" data-slide-to="{{@index}}" class="{{this.active}}"></li>
                  {{/each}}
               </ol>
               <div class="carousel-inner rounded">
                  {{#each banners}}
                  <div class="carousel-item {{this.active}}" href="{{this.source}}">
                     <img src="/banner-images/{{this._id}}.jpg" class="d-block w-100" alt="{{this.name}}">
                  </div>
                  {{/each}}
               </div>
               <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
               <span class="fal fa-chevron-left" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
               <span class="fal fa-chevron-right" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
               </a>
            </div>
         </div>
      </div>
   </div>
</section>

<section>
   <div class="container-fluid mt-3">
      <div class="row scrollmenu">
         <div class="col-md-12">
            {{#each categories}}
            <a href="/view-category-products/{{this._id}}" style="text-decoration:none; color:black;">
               <div class="card align-items-center text-center mr-3" style="width:6rem; height:5rem; display:inline-block;">
                  <img class="mt-1" src="/category-images/{{this._id}}.jpg" alt="{{this.name}}" style="height:3rem; width:3rem;"><br>
                  <p class="limit-line-length"><small class="card-title font-weight-bold mt-1">{{this.name}}</small></p>
               </div>
            </a>
            {{/each}}
         </div>
      </div>
   </div>
</section>


<section>
   <div class="container-fluid mt-3">
      {{#each categories}}
      <h5 class="limit-line-length">{{this.displayName}}</h5>
      <div class="row">
         {{#each products}}
         <div class="col-6 col-md-2 pb-4">
            <a href="/view-product/{{this._id}}" style="text-decoration:none; color:black;">
            <div class="card align-items-center text-center">
               <img class="mt-3" src="/product-images/{{this._id}}.jpg" alt="{{this.name}}" style="height:6rem; width:6rem;">
               <div class="card-body">
                  <div style="height:2.7em; width:7em;">
                     <h6 class="card-title product-title">{{this.name}}</h6>
                  </div>
                  <h6 class="card-text text-success limit-line-length" style="max-width:7em;">{{this.price}}</h6>
               <!--  <p class="card-text">{{this.description}}</p> -->
             </a>
                  {{#if this.stock}}
                  <button class="btn btn-primary mt-2" onclick="addToCart('{{this._id}}')" style="width:7em;height:auto">Add to Cart</button>
                  {{else}}
                  <button class="btn btn-outline-primary mt-2" style="width:7em;height:auto" disabled>Out of Stock</button>
                  {{/if}}
               </div>
            </div>
         </div>
         {{/each}}
      </div>
      {{/each}}
   </div>
</section>