<section>
   <div class="container mt-3">
      <div class="row">
         <div class="col-md-6">
            <img src="/product-images/{{product._id}}.jpg" alt="{{product.name}}" style="width:21em;">
            <h5 class="mt-2">{{product.name}}</h5>
            <label>{{product.variant}}</label>
            <h5 class="text-success">₹{{product.price}}</h5>
            <button class="btn btn-primary" onclick="addToCart('{{product._id}}')" style="width:7em;">Add to Cart</button>
            <button class="btn btn-success ml-2" onclick="buyNow('{{product._id}}')" style="width:7em;">Buy Now</button>
         </div>
         <div class="col-md-6 pt-3">
            <h6>Description</h6>
            <p>{{product.description}}</p>
         </div>
      </div>
   </div>
</section>