<!--
<section>
   <div class="container mt-5">
      <div class="row">
         {{#each products}}
         <div class="col-md-3 p-3">
            <div class="card" style="width: 15rem; height: 24rem;">
               <img class="card-img-top" src="/product-images/{{this.product._id}}.jpg" alt="{{this.product.name}}" style="height: 12rem;">
               <div class="card-body">
                  <h5 class="card-title">{{this.product.name}}</h5>
                  <p class="card-text">Rs.{{this.product.price}}</p>
                  <p class="card-text">Quantity: {{this.quantity}}</p>
               </div>
            </div>
         </div>
         {{/each}}
      </div>
   </div>
</section>
-->



<section>
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-6 mt-3">
            <h5>Shipping Address</h5>
            <div class="border rounded p-2">
               <span class="font-weight-bold">{{order.deliveryDetails.name}}</span><br>
               <span>{{order.deliveryDetails.address}}</span><br>
               <span>{{order.deliveryDetails.pincode}}<span><br>
               <span>Mob: {{order.deliveryDetails.mobile}}<span>
            </div>
         </div>
      </div>
      <div class="row mt-3">
         <div class="col-md-6">
            <h5>Tracking Details</h5>
            <h6>Status: {{order.currentStatus}}<small class="text-muted ml-2">{{order.currentStatusDate}}</small><a data-toggle="collapse" href="#order-status" aria-expanded="false" aria-controls="order-status" style="text-decoration:none; color:black;"><i id="arrow-change" class="fas fa-chevron-down float-right"></i></a></h6>
            <div class="collapse multi-collapse border rounded p-2" id="order-status">
               <small>
               {{#each order.status}}
               <label>{{this.name}}: {{this.date}}</label>
               {{/each}}
               </small>
            </div>
         </div>
      </div>
      <h5 class="mt-3">Product Details</h5>
      <div class="row scrollmenu">
{{#each products}}
<div class="col-6 col-md-2 pb-4" style="display:inline-block; white-space: initial;">
   <div class="card align-items-center text-center">
      <img class="mt-3" src="/product-images/{{this.product._id}}.jpg" alt="{{this.product.name}}" style="height:6rem; width:6rem;">
      <div class="card-body">
         <h6 class="card-title" style="height:2em;">{{this.product.name}}</h6>
         <h6 class="card-text text-success">₹{{this.product.price}}</h6>
          <label>Qty: 2</label>
          <a href="/view-product/{{this.product._id}}" class="btn btn-primary btn-sm mt-2">View Product</a>
      </div>
   </div>
</div>
{{/each}}
      </div>
      <div class="row mt-3">
         <div class="col-7 col-md-10">
            <h5 class="pl-3">Total Amount:</h5>
         </div>
         <div class="col-5 col-md-2 text-center align-items-center">
            <h5>₹<span id="total">{{order.totalAmount}}</span><h5>
         </div>
      </div>
   </div>
</section>




<script>
   $('#arrow-change').click(function() {
   $(this).toggleClass('fa-chevron-down fa-chevron-up')
   })
</script>