<section>
   <div class="container-fluid mt-3">
      <h5 class="limit-line-length">Showing on {{category.name}}</h5>
      <div class="row mt-3">
         {{#each products}}
         <div class="col-6 col-md-2 pb-4">
            <a href="/view-product/{{this._id}}" style="text-decoration:none; color:black;">
            <div class="card align-items-center text-center">
               <img class="mt-3" src="/product-images/{{this._id}}.jpg" alt="{{this.name}}" style="height:6rem; width:6rem;">
               <div class="card-body">
                  <div style="height:2.7em; width:7em;">
                     <h6 class="card-title product-title">{{this.name}}</h6>
                  </div>
                  <h6 class="card-text text-success limit-line-length" style="max-width:7em;">₹{{this.price}}</h6>
              </a>
                  {{#if this.stock}}
                  <button class="btn btn-primary mt-2" onclick="addToCart('{{this._id}}')" style="width:7em;height:auto">Add to Cart</button>
                  {{else}}
                  <button class="btn btn-outline-primary mt-2" style="width:7em;height:auto" disabled>Out of Stock</button>
                  {{/if}}
               </div>
            </div>
         </div>
         {{/each}}
      </div>
   </div>
</section>